global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    retries 3

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s

# 🌐 Entrada principal
frontend http_front
    bind *:8080
    mode http

    # 🔍 ACL: reglas para decidir a qué backend va cada petición
    acl is_usuarios path_beg /usuarios
    acl is_vehiculos path_beg /vehiculos
    acl is_resenas path_beg /resenas
    acl is_calificaciones path_beg /calificaciones

    # 🚦 Redirección según la URL
    use_backend backend_usuarios if is_usuarios
    use_backend backend_vehiculos if is_vehiculos
    use_backend backend_resenas if is_resenas
    use_backend backend_calificaciones if is_calificaciones
    default_backend backend_frontend

# 🖥️ Frontend principal
backend backend_frontend
    balance roundrobin
    server front frontend:80 check resolvers docker resolve-prefer ipv4

# 👤 Usuarios
backend backend_usuarios
    balance roundrobin
    server user1 proyecto-docker_ms-usuarios:3001 check
    server user2 proyecto-docker_ms-usuarios:3001 check

# 🚗 Vehículos
backend backend_vehiculos
    balance roundrobin
    server carritos1 proyecto-docker_ms-vehiculos:3002 check
    server carritos2 proyecto-docker_ms-vehiculos:3002 check

# 📝 Reseñas
backend backend_resenas
    balance roundrobin
    server resenitas1 proyecto-docker_ms-resenas:3003 check
    server resenas2 proyecto-docker_ms-resenas:3003 check

# ⭐ Calificaciones
backend backend_calificaciones
    balance roundrobin
    server calificaciones1 proyecto-docker_ms-calificaciones:3004 check
    server calificaciones2 proyecto-docker_ms-calificaciones:3004 check



# 📊 Panel de monitoreo
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 5s

